.container{
margin-top: 32px;
margin-left: 32px;
}

.containerImg{
display: flex;
flex-direction: row;
margin-top: 32px;

}

.img{
    width: 250px;
    height: 320px;
    border-radius: 8px;
    margin-bottom: 32px;
}

.textContainer{
margin-left: 24px;
}

.titleText{
    font-size: 22px;
    font-weight: 500;
    color: black;
}